<div list="posts">
    <div class="list card card-posts repeat-animation" ng-repeat="post in postsCtrl.posts">
        <div ui-sref="public.posts.id(::{ id: post.id })">
            <div class="item item-image animated" ng-if="::post.featured_media != 0" wphc-img-background-cache="{{::postsCtrl.featureImages[post.id]}}">
                <div class="img-border"></div>
                <div ng-if="::post.sticky" class="sticky-post badge badge-stable">
                    <i class="icon ion-star"></i>
                    <span>{{'posts.featured' | translate}}</span>
                </div>
            </div>
            <!-- Use this for sticky post - Needs to be tested  -->
            <div class="item item-text-wrap" ng-if="::post.featured_media == 0">
                <h1 class="item-title" ng-bind-html="::post.title.rendered | truncate: 50: '...': true"></h1>
                <div ng-if="::post.sticky" class="sticky-post badge badge-stable">
                    <i class="icon ion-star"></i>
                    <span>{{'posts.featured' | translate}}</span>
                </div>
            </div>
            <h1 class="item-title item-text-wrap" ng-bind-html="::post.title.rendered | truncate: 50: '...': true"></h1>
            <div class="item item-text-wrap stub" ng-if="::post.excerpt.rendered" ng-bind-html="::post.excerpt.rendered"></div>
            <!--  there's a better way to disable this. (config parameters somewhere)
            <wphc-author ng-if="postsCtrl.showAuthor" author="::post._embedded.author[0]" date="::post.date"></wphc-author>-->
        </div>
        <div class="item item-divider item-footer">
            <wphc-post-toolbar post="::post" show-share show-bookmark></wphc-post-toolbar>
        </div>
    </div>
</div>
